/* @font-face {
  font-family: trek;
  src: url(/assets/fonts/Roddenberry-DgLm.ttf) format('truetype');
  } */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background-color: #e3e3e3;
  height: 100vh;
}

html{
  scroll-behavior: smooth ;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}

/* Estilo do header */
header{
  width: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

header .btn-contato button, .hero-site button, .hoteis button{
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: .5s;
  z-index: 4;
}

header .btn-contato button:hover, .hero-site button:hover, .hoteis button:hover{
  background-color: #fff;
  color: #000;
}

header .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img{
  max-width: 30px;
}

/* Estilo do menu dinamico */
header .logo img.logo-preta{
  display: none;
}

header.rolar{
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 0 8px #00000061;
}
header.rolar .menu-desktop nav ul li a{
  color: #000;
}

header.rolar .btn-contato button{
  border: 1px solid #000;
  color: #000;
}

header.rolar .btn-contato button:hover{
  background-color: #000;
  color: #fff;
}

header.rolar .logo .logo-branca{
  display: none;
}

header.rolar .logo .logo-preta{
  display: block;
}

/* Fim do Estilo do menu dinamico */


header .menu-desktop nav ul{
  list-style-type: none;
}

header .menu-desktop nav ul li{
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

header .menu-desktop nav a:hover{
  transform: scale(1.05)
}    

header .btn-contato button{
  width: 140px;
  height: 50px;
}

/* sobre: Titulo Sobre */
.title {
  font-size: 2rem;
  color: var(--cor-titulo);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-top: 2rem;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

/* sobre: Titulo Nós */
.title span {
  font-size: 2rem;
  color: var(--cor-span);
  text-transform: uppercase;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

/* Estilo do botão do menu mobile */
header .btn-menu-mob {
  display: none;
  position: relative;
  z-index: 6;
}

/* box do menu-mobile */

header .btn-menu-mob div{
  background-color: #fff;
  height: 3px;
  margin: 10px 0;
  transition: .2s;
}

header .btn-menu-mob .line-menumob-1{
  width: 30px;
}

header .btn-menu-mob .line-menumob-2{
  width: 30px;
}

header .btn-menu-mob .line-menumob-3{
  width: 30px;
}

header.rolar .btn-menu-mob div {
  background-color: #000000;
}

header .btn-menu-mob .line-menumob-1.ativo1{
  /* transform: rotate(45deg) translate(30%); */
  background-color: #ff0000;
  width: 30px; 

}

header .btn-menu-mob .line-menumob-2.ativo2{
  /* transform: rotate(45deg) translate(30%);  */
  width: 30px;
  background-color: #ff0000;
}

header .btn-menu-mob .line-menumob-3.ativo3{
  width: 30px;
  background-color: #ff0000;
}

.box-menu{
  /* display: block; */
  width: 350px;
  height: 350px;
  border: 4px solid #ccc;
  background: transparent;
}

/* ------------ */

/* Estilo do menu mobile */
header .menu-mobile{
  width: 0%;
  height: 0vh;
  background-color: #2b2b2b3f;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: .5s;
  visibility: hidden;
  /* margin: 86px auto; */
}

header .menu-mobile nav{
  width: 100%;
}

header .menu-mobile nav ul{
  list-style-type: none;
}

header .menu-mobile nav ul a{
  font-size: 20px;
  text-decoration: none;
  color: #fdfdfd;
  padding: 20px 0px;
  display: block; 
  transition: .5s;
}

header .menu-mobile nav ul a:hover{
  background-color: #ffffff8e;
  color: #000;
}    

header .menu-mobile.abrir{
  visibility: visible;
  width: 100%;
  height: 100vh;
}

body.no-overflow{
  overflow: hide;
}

/* Estilo do hero */
section.hero-site{
  height: 98vh;
  background-image: url('/assets/img/img-bg-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

section.hero-site .interface{
  display: flex;
  align-items: center;
  height: 100%;
}

section.hero-site .txt-hero h1{
  font-size: 4em;
  line-height: 70px;
  font-weight: 200;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

section.hero-site .txt-hero h1 span{
  display: block;
  font-weight: 800;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

section.hero-site .txt-hero p{
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
  text-align: justify;
}

section.hero-site .txt-hero p span{
  display: block;
}

.hero-site button{
  width: 220px;
  height: 60px;
  font-size: 20px;
}
/* ------------ */


/* Estilo sobre */
section.sobre-site{
  padding: 10px 0;
  background-color: #e3e3e3;
}

section.sobre-site .img-itens-sobre img{
  display: block; 
  margin: 0 auto; 
  max-width: 620px;
  height: auto;
  border-radius: 20px;
}

section.sobre-site .txt-itens-sobre p{
  margin: 10px 0;
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 5rem;
  
}

section.sobre-site .txt-itens-sobre p span{
  font-size: 17px;
  font-weight: 700;
}

section.sobre-site .title {
  font-size: 1.8rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

section.sobre-site .title span {
  font-size: 1.8rem;
  color: #525151;
  text-transform: uppercase;
}

section.sobre-site .linha-separa-sobre{
  margin-top: 7rem;;
  border-top: 1px solid #000000;
}
/*----------------------------*/

/* Estilo origem */
section.origem-site{
  padding: 10px 0;
}

section.origem-site .img-itens-origem img{
  display: block; 
  margin: 0 auto; 
  max-width: 620px;
  height: auto;
  border-radius: 20px;
}

section.origem-site .txt-itens-origem p{
  margin: 10px 0;
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.origem-site .txt-itens-origem p span{
  font-size: 17px;
  font-weight: 700;
}

section.origem-site .title {
  font-size: 1.8rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

section.origem-site .title span {
  font-size: 1.8rem;
  color: #525151;
  text-transform: uppercase;
}

section.origem-site .linha-separa-origem{
  margin-top: 3rem;;
  border-top: 1px solid #000000;
}

section.origem-site .title {
  font-size: 1.8rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

section.origem-site .title span {
  font-size: 1.8rem;
  color: #525151;
  text-transform: uppercase;
}

section.origem-site .linha-separa-origem{
  margin-top: 3rem;;
  border-top: 1px solid #000000;
}
/*----------------------------*/

/*  Estilo das series */
section.series-site{
  padding: 10px 0;
}

section.series-site .itens-container-series{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 60px;
}

section.series-site .txt-itens-series p{
  margin: 10px 0;
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.series-site .itens-container-series .img-itens-series img{
  max-width: 420px;
  border-radius: 20px;
}

section.series-site .itens-container-series .txt-itens-series h3{
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 20px;
  /* font-family: trek, Poppins, Arial, sans-serif; */
  color: #525151;
}

section.series-site .itens-container-series .txt-itens-series h3 span{
  font-weight: 300;
  /* font-family: trek, Poppins, Arial, sans-serif; */
  color: black
}

section.series-site .txt-itens-series-item-3 p{
  margin: 10px 0;
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.series-site .itens-container-series .img-itens-series-item-3 img{
  max-width: 420px;
  border-radius: 20px;
}

section.series-site .itens-container-series .txt-itens-series-item-3 h3{
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 20px;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

section.series-site .itens-container-series .txt-itens-series-item-3 h3 span{
  font-weight: 300;
}

section.series-site .title {
  font-size: 2rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

section.series-site .title span {
  font-size: 2rem;
  color: #525151;
  text-transform: uppercase;
}

section.series-site .linha-separa-series{
  margin-top: 3rem;;
  border-top: 1px solid #000000;
}
/*----------------------------*/


/*  Estilo de filmes */
section.filmes-site{
  padding: 10px 0;
  background-color: #e3e3e3;
}

section.filmes-site .itens-container-filmes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 60px;
}

section.filmes-site .txt-itens-filmes p{
  margin: 10px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.filmes-site .itens-container-filmes .img-itens-filmes img{
  max-width: 420px;
  border-radius: 20px;
}

section.filmes-site .itens-container-filmes .txt-itens-filmes h3{
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 20px;
  /* font-family: trek, Poppins, Arial, sans-serif; */
  color: #525151;
}

section.filmes-site .itens-container-filmes .txt-itens-filmes h3 span{
  font-weight: 300;
  /* font-family: trek, Poppins, Arial, sans-serif; */
  color: black
}

section.filmes-site .txt-itens-filmes-item-3 p{
  margin: 10px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.filmes-site .itens-container-filmes .img-itens-filmes-item-3 img{
  max-width: 420px;
  border-radius: 20px;
}

section.filmes-site .itens-container-filmes .txt-itens-filmes-item-3 h3{
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 20px;
  /* font-family: trek, Poppins, Arial, sans-serif; */
}

section.filmes-site .itens-container-filmes .txt-itens-filmes-item-3 h3 span{
  font-weight: 300;
}

section.filmes-site .title {
  font-size: 2rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

section.filmes-site .title span {
  font-size: 2rem;
  color: #525151;
  text-transform: uppercase;
}

section.filmes-site .linha-separa-filmes{
  margin-top: 3rem;;
  border-top: 1px solid #000000;
}
/*----------------------------*/


/*  Estilo de slinoffs */
section.spinoffs-site{
  padding: 10px 0;
  background-color: #e3e3e3;
}

section.spinoffs-site .itens-container-spinoffs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 60px;
}

section.spinoffs-site .txt-itens-spinoffs p{
  margin: 10px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.spinoffs-site .itens-container-spinoffs .img-itens-spinoffs img{
  max-width: 420px;
  border-radius: 20px;
}

section.spinoffs-site .itens-container-spinoffs .txt-itens-spinoffs h3{
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 20px;
  /* font-family: trek, Poppins, Arial, sans-serif; */
  color: #525151;
}

section.spinoffs-site .itens-container-spinoffs .txt-itens-spinoffs h3 span{
  font-weight: 300;
  /* font-family: trek, Poppins, Arial, sans-serif; */
  color: black
}

section.spinoffs-site .txt-itens-spinoffs-item-3 p{
  margin: 10px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

section.spinoffs-site .itens-container-spinoffs .img-itens-spinoffs-item-3 img{
  max-width: 420px;
  border-radius: 20px;
}

section.spinoffs-site .itens-container-spinoffs .txt-itens-spinoffs-item-3 h3{
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 20px;
}

section.spinoffs-site .itens-container-spinoffs .txt-itens-spinoffs-item-3 h3 span{
  font-weight: 300;
}

section.spinoffs-site .title {
  font-size: 2rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

section.spinoffs-site .title span {
  font-size: 2rem;
  color: #525151;
  text-transform: uppercase;
}

section.spinoffs-site .linha-separa-spinoffs{
  margin-top: 3rem;;
  border-top: 1px solid #000000;
}
/*----------------------------*/

/* Estilo de botões de contato */
section.contato{
  background-color: #fff;
  padding: 80px 0;
}

article.txt-contato, .icons-contato{
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}

section.contato .txt-contato h3{
  font-size: 2.5em;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 20px;
}

section.contato .txt-contato h3 span{
  display: block;
  font-weight: 700;
}

section.contato .icons-contato a{
  text-decoration: none;
}

section.contato .icons-contato button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 60px;
  margin: 0 auto 20px auto;
  padding: 0 60px;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  transition: .5s;
}

section.contato .icons-contato button i{
  font-size: 20px;
}

section.contato .icons-contato button:hover{
  background-color: #000;
}

section.contato .icons-contato button:hover i,section.contato .icons-contato button:hover p{
  color: #fff;
}



/* Estilo rodape */
footer{
  background-color: #000;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer .top-footer button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
}

footer .top-footer button:hover{
  background-color: #fff;
  color : #000;
}

footer .middle-footer{
  margin: 20px 0;
}

footer .middle-footer a{
  color: #fff;
  margin: 0 15px;
}

footer .bottom-footer {
  border-top: 1px solid #fff;
}

footer .bottom-footer p{
  color: #fff;
  margin-top: 10px;
}


